<template>
  <div>
    <p v-if="!this.$store.state.posts.error && topUserID.length">
      Самый активный из случайных пользователей, user с ID:
      <b>{{ topUserID.top }}</b>
      <br />
      который добавил постов:
      <b>{{ topUserID.length }}</b>
      !
    </p>
    <div v-if="posts.length">
      <transition-group appear name="list" tag="div" class="post-list">
        <div class="post-item" v-for="post in posts" :key="post.id">
          Пользователь c ID: {{ post.userId }}
          <div>
            <small>{{ post.title }}</small>
          </div>
        </div>
      </transition-group>
    </div>
    <div class="error" v-if="this.$store.state.posts.error">
      <b>Еу, бро!</b>
      <br />
      Вводи числа от 10 до 20!
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "ListUsers",
  computed: {
    ...mapState({
      posts: (state) => state.posts.posts,
      error: (state) => state.posts.error,
      topUserID: (state) => state.posts.topUserID,
    }),
  },
  methods: {
    ...mapMutations({
      setPosts: "posts/setPosts",
      setTopUser: "posts/setTopUser",
    }),
  },
};
</script>

<style scoped lang="scss">
p {
  margin-top: 20px;
  text-align: center;
}
.error {
  display: block;
  margin-top: 20px;
  width: 280px;
  background-color: rgba(#a71111, 0.3);
  border: 1px solid #a71111;
  padding: 10px;
  color: #a71111;
}
.post {
  &-list {
    width: 100%;
    max-width: 1120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  &-item {
    width: 100%;
    max-width: 280px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;

    &:nth-child(n + 1) {
      transition: all 0.4s;
    }
  }
}
.list-enter-active:nth-child(n + 1),
.list-leave-active:nth-child(n + 1) {
  transition: all 0.4s;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translate(30px);
}
</style>
