<template>
  <div class="search">
    <form>
      <input
        v-model="query"
        type="number"
        class="search-input"
        :class="{ error: this.$store.state.posts.error }"
        required
      />
      <button
        @click="showContent"
        class="search-btn"
        :class="{ error: this.$store.state.posts.error }"
        type="button"
      >
        Погнали
      </button>
    </form>
  </div>
</template>

<script>
import { mapActions, mapMutations } from "vuex";

export default {
  name: "SearchRandomUsers",
  computed: {
    query: {
      get() {
        return this.$store.state.posts.query;
      },
      set(value) {
        this.$store.commit("posts/updateQuery", value);
      },
    },
  },
  methods: {
    ...mapMutations({
      updateQuery: "posts/updateQuery",
    }),
    ...mapActions({
      fetchPosts: "posts/fetchPosts",
    }),
    showContent: function () {
      if (this.query < 21 && this.query > 9) {
        this.fetchPosts();
        this.$store.commit("posts/setError", false);
      } else {
        this.$store.commit("posts/setPosts", []);
        this.$store.commit("posts/setError", true);
      }
    },
  },
};
</script>

<style scoped lang="scss">
@keyframes setError {
  10% {
    box-shadow: inset 0 0 2px #a71111;
  }
  30% {
    box-shadow: none;
  }
  50% {
    box-shadow: inset 0 0 2px #a71111;
  }
  70% {
    box-shadow: none;
  }
  90% {
    box-shadow: none;
  }
}
.search {
  display: flex;
  width: 280px;

  form {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  input,
  button {
    padding: 6px 12px;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 0;
    outline: none;
    width: auto;
  }

  input {
    &.error {
      border-color: #a71111;
      animation: setError 3s ease-in-out;
    }
  }

  button {
    background-color: #ddd;
    transition: 0.2s ease-in-out;

    &:hover,
    &:focus {
      background-color: #017;
      border-color: #017;
      color: #fff;
      cursor: pointer;
    }
  }
}
</style>
