<template>
  <div id="app" class="app">
    <h1 class="app__title">
      Хочешь узнать кто самый активный рэндомный пользователь?
      <br />
      <span>Введи число от 10 до 20 в поле ввода</span>
    </h1>
    <SearchRandomUsers />
    <ListUsers />
  </div>
</template>

<script>
import SearchRandomUsers from "./components/SearchRandomUsers.vue";
import ListUsers from "./components/ListUsers.vue";

export default {
  name: "App",
  components: {
    SearchRandomUsers,
    ListUsers,
  },
};
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: Arial, Sans-serif;

  &__title {
    width: 100%;
    max-width: 1120px;
    text-align: center;
    margin-bottom: 40px;

    span {
      font-size: 18px;
      font-weight: 400;
    }
  }
}
</style>
